.idea
.idea/*

**/.sass-cache
**/.sass-cache/*
gulp-tasks/node_modules
gulp-tasks/node_modules/*
gulp-tasks/package-lock.json

vendor/tareq1988/wordpress-settings-api-class/example
vendor/tareq1988/wordpress-settings-api-class/example/*

**/*.log