.idea
.idea/*

node_modules/
package-lock.json
composer.lock

**/.sass-cache
**/.sass-cache/*

vendor/tareq1988/wordpress-settings-api-class/example
vendor/tareq1988/wordpress-settings-api-class/example/*

**/*.log